h3{
    color:purple;
}

.logo {
    height: 50px;
    /*width: 100px;*/
    background-color: #e3f2fd;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #e3f2fd;
    position: fixed;
    bottom: 0;
}

.navbar {
    background-color: #e3f2fd;
}