h3{
    color:purple;
}

.header {
    padding: 20px;
    background-color: #e3f2fd;
}

.logo {
    height: 50px;
    background-color: #e3f2fd;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #e3f2fd;
    position: relative;
    bottom: 0;
}

.navbar {
    background-color: powderblue;
}