<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="base :: fragments/header(~{::title})"> -->
<head>

    <title>Test Solr Search</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div th:insert="~{fragments/header :: header}"></div>

</head>
<body>

<div class="container">

<h3>Search Form</h3>
    <div>Enter search criteria. For example:<br>
        *:* <br>
        doi:*  <br>
        title:Global*
    </div>
    <br>
<form action="#" th:action="@{/search.html}" th:object="${command}" method="get">

    <p><strong>Enter Query:</strong>&nbsp;&nbsp;<input type="text" th:field="*{queryText}" /></p>

    <p><input type="submit" class="btn btn-info" value="Search" /> </p>
</form>

  <!-- DEBUG
    <div th:if="${searchResults==null}">
        It's empty
    </div>
    <div th:if="${searchResults!=null}">
        NOT empty.
    </div>
    -->

    <div th:if="${not #strings.isEmpty(searchResults)}">

        <br>
        <h3>Results</h3>

        <p>
        Result Count: <span th:text="${searchResults.resultCount}"></span>
        </p>

        </th:block>

        <table class="table table-borderless">
            <tbody>
            <tr th:each="result : ${searchResults.results}">
            <td>
                <a th:href="${result.authoritativeSourceUrl}"><span th:text="${result.title}"></span></a> <br>
                <span th:text="${result.description}"></span>
            </td>
            </tr>
            </tbody>
        </table>>



    </div>

</div> <!-- container -->
<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>